<!DOCTYPE html>
<html lang="en" ng-app="App" ng-controller="Main">
<head>
	<meta charset="UTF-8">
	<title>Teste</title>

	<link rel="stylesheet" href="fonts/Material-Design-Iconic-Font.css">
	<link rel="stylesheet" href="app/vendors/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="app/css/app.min.css">
	<link rel="stylesheet" href="app/css/style.css">
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="col-lg-4 fixed">
					<div class="searchbar">
						<input type="text" ng-model="search" placeholder="Pesquise por tags ou notas">
					</div>

					<div class="easy-post">
						<div class="content-wrapper">
							<textarea ng-model="post.value" ng-keyup="post.processInput($event)" placeholder="Escreva..." rows="4"></textarea>
						</div>
						<div class="padding">
					      <input type="checkbox" ng-model="post.enterOption" id="enter-option" />
					      <label for="enter-option">Aperte enter para criar nota</label>
					    </div>
						<div class="tag-manager">
							<div class="input-group tag-input">
								<span class="input-group-addon"><i class="zmdi zmdi-tag"></i></span>
								<input type="text" ng-model="post.tagInput" ng-keydown="post.onTagInputKeydown($event)" placeholder="Pressione enter para adicionar a tag">
							</div>

							<div class="content" ng-if="post.tags.length">
								<ul>
									<li ng-repeat="tag in post.tags">
										<span class="badge">
											{{tag.name}}
											<icon ng-click="removeTag($index)" name="close"></icon>
										</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="toolbar">
							<ul>
								<li>
									<button class="btn btn-link">
										<i class="zmdi zmdi-attachment-alt"></i>
									</button>
								</li>
								<li>
									<button class="btn btn-link">
										<i class="zmdi zmdi-mic"></i>
									</button>
								</li>
								<li>
									<button class="btn btn-link">
										<i class="zmdi zmdi-camera"></i>
									</button>
								</li>
								<li>
									<button class="btn btn-link">
										<i class="zmdi zmdi-videocam"></i>
									</button>
								</li>

								<li class="pull-right">
									<button ng-disabled="!post.value.length" ng-click="post.save()" class="btn btn-primary">
										save
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="col-lg-10 col-lg-offset-1">
					<div class="post-list">
						<div class="post" ng-repeat="$post in store | filter: {text: extractText(search)} | filterByTags: getTags(search)">
							<div class="content">
								<span class="text">{{$post.text}}</span>
								<!-- <div class="note-menu">
									<button class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Editar" ng-click="editPost($post, $event)">
										<i class="zmdi zmdi-edit"></i>
									</button>
									<button class="remove-button btn btn-link" data-toggle="tooltip" data-placement="top" title="Remover" ng-click="removePost($index)">
										<i class="zmdi zmdi-close"></i>
									</button>
								</div> -->

								<div class="note-menu">
									<button class="btn btn-link" ng-click="NoteMenu.position($event, $post, $index)">
										<i class="zmdi zmdi-chevron-down"></i>
									</button>
								</div>
							</div>
							<div class="tags" ng-if="$post.tags.length">
								<ul>
									<li ng-repeat="tag in $post.tags">
										<span class="label label-default" ng-click="addToSearchbar(tag.name)">
											{{tag.name}}
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

			<!-- <i class="zmdi zmdi-chevron-down"></i> -->
	<ul class="note-menu-list">
		<li>
			<button ng-click="NoteMenu.hide();NoteMenu.options.Edit()">Editar</button>
		</li>
		<li>
			<button ng-click="NoteMenu.hide();NoteMenu.options.Delete()">Deletar</button>
		</li>
	</ul>

	<script src="app/vendors/jquery/dist/jquery.min.js"></script>
	<script src="app/vendors/angular/angular-min.js"></script>

	<script src="bower_components/ngstorage/ngStorage.min.js"></script>
	<script src="bower_components/moment/min/moment.min.js"></script>

	<script src="app/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="app/vendors/waves/waves.min.js"></script>

	<script src="app/vendors/auto-size/jquery.autosize.min.js"></script>
	<script src="app/vendors/nicescroll/jquery.nicescroll.min.js"></script>

	<script src="app/js/app.js"></script>
	<script src="app/services/store.js"></script>

	<script src="app/directives/btn-class.js"></script>
	<script src="app/directives/icon.js"></script>
	<script src="app/directives/autogrow.js"></script>
</body>
</html>