
<script type="text/ng-template" id="tmpl-caminhoes">
    
    <div class="media">
        <div class="media-body">
            <span class="badge">Caminhões</span><a href="#/cadastro/caminhao/editar/{{row.id}}" ng-click="closeResults()" class="lv-title">{{row.placa}}</a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="tmpl-clientes">
    <div class="media">
        <div class="media-body">
            <span class="badge">Cliente</span><a href="#/cadastro/cliente/editar/{{row.id}}" ng-click="closeResults()" class="lv-title">{{row.razao_social}}</a>
            <div class="lv-description"><small>CNPJ: {{row.cnpj}}</small></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="tmpl-fornecedores">
    <div class="media">
        <div class="media-body">
            <span class="badge">Fornecedor</span><a href="#/cadastro/fornecedor/editar/{{row.id}}" ng-click="closeResults()" class="lv-title">{{row.razao_social}}</a>
            <div class="lv-description"><small>CNPJ: {{row.cnpj}}</small></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="tmpl-servicos">
    <div class="media">
        <div class="media-body">
            <span class="badge">Serviço</span><a href="#/cadastro/servico/editar/{{row.id}}" ng-click="closeResults()" class="lv-title">{{row.nome}}</a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="tmpl-tipos_caminhoes">
    <div class="media">
        <div class="media-body">
            <span class="badge">Tipo Caminhão</span><a href="#/cadastro/tipo_caminhao/editar/{{row.id}}" ng-click="closeResults()" class="lv-title">{{row.tipo}}</a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="tmpl-users">
    <div class="media">
        <div class="media-body">
            <span class="badge">Usuário</span><a href="#/usuarios/editar/{{row.id}}" ng-click="closeResults()" class="lv-title">{{row.name}}</a>
        </div>
    </div>
</script>

<div id="top-search-wrap" ng-controller="search">
    <input type="text" autocomplete="on" ng-model="searchInputValue">
    <i id="close-search-button">&times;</i>

    <section id="search-results">

        <div class="col-lg-12 block-header">
            <h2 ng-show="!searchResults.noResultsFound">exibindo resultados para <b>"{{searchInputValue}}"</b> :</h2>
            <h2 ng-show="searchResults.noResultsFound">nenhum resultado encontrado</b> :</h2>
        </div>

        <div class="loader animated fadeIn">
          <svg class="circular">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
          </svg>
        </div>

        <div class="row col-lg-12" ng-show="!searchResults.noResultsFound">
            <div class="col-lg-4"></div>
            <div class="card col-lg-4">
                <div class="card-body card-padding">
                    <div class="listview">
                        <div class="lv-body c-overflow">

                            <div class="result row" ng-repeat="(category, rows) in searchResults">
                                <div class="lv-item row" href="" ng-repeat="row in rows" ng-include="processInclude(category)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>

    </section>
</div>