<div class="row">
    <!-- <div class="col-sm-3" id="notescards"></div> -->

	<div class="col-sm-3">
        <div class="card" ng-repeat="note in notes track by $index">
            <div class="card-header">
                {{note.title}}

                <ul class="card-toolbar">
                	<li>
                		<button class="btn btn-default"><icon name="edit"></icon></button>
                	</li>
                </ul>
            </div>
            <div class="card-body card-padding">
                {{note.text | date}}
            </div>
            <div class="card-footer">
                {{note.created_at | date: "dd/MM/yyyy \'às\' H:m\'h\'" }}
            </div>
        </div>
    </div>

    <div class="col-sm-9">
        <div><input type="text" id='title' placeholder="title" /> <span id='saving'>Draft not saved</span> </div>
        <input type="hidden" id='noteId' />
        <div id="summernote"></div>
    </div>
    
</div>