<div class="notes">
    <div class="col-sm-3" ng-repeat="group in notes">
        <div class="card {{note.color}}" ng-repeat="note in group">
            <div class="card-header">
            {{note.title}}

                <ul class="card-toolbar">
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="" class="btn btn-link"><icon name="more-vert"></icon></a>
                        <ul class="dropdown-menu dm-icon pull-right">
                            <li>
                                <a href="">Adicionar tags</a>
                            </li>
                            <li>
                                <a href="">Alterar cor</a>
                            </li>
                            <li>
                                <a href="#/edit/{{note.id}}">Editar</a>
                            </li>
                            <li>
                                <a href="">Excluir</a>
                            </li>
                            <li>
                                <a href="">Favoritar</a>
                            </li>
                            <li>
                                <a href="">Renomear</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="card-body card-padding">
                <compile html="{{note.text}}"></compile>
            </div>
            <div class="card-footer">
                {{note.created_at | date: "dd/MM/yyyy \'às\' H:m\'h\'" }}
            </div>
        </div>
    </div>
</div>